<div class="page">
    <div class="card-center">
        <div class="content">
            

            <div class="line-horizontal"></div>

            <div class="section">
                <h3>Welcome, {{firstName}}.</h3>
                <h5>You are currently logged into all mattdavis.info services.</h5>
            </div>
            <div id="logout-section" class="section">
                <a class="submit-button a-button" (click)="logout()">Logout</a>
            </div>
            <div class="line-horizontal"></div>

            <h1>Profile</h1>

            <form class="section" (ngSubmit)="update()">
                <div class="label-animated">
                    <input type="text" [placeholder]="email" [(ngModel)]="newEmail" name="email" id="email" required>
                    <label>Email:</label>
                </div>
                

                <div class="label-animated">
                    <input type="text" [placeholder]="firstName"  [(ngModel)]="newfirstName" name="firstName" id="firstName" required>
                    <label>First Name:</label>
                </div>

                <div class="label-animated">
                    <input type="text" [placeholder]="lastName"  [(ngModel)]="newLastName" name="lastName" id="lastName" required>
                    <label>Last Name:</label>
                </div>

                <div class="label-animated">
                    <input type="password" placeholder="••••••••"  [(ngModel)]="newPassword" name="password" id="password" required>
                    <label>Password:</label>
                </div>

                <div class="label-animated">
                    <input type="password" placeholder="••••••••"  [(ngModel)]="newPasswordRepeat" name="passwordRepeat" id="passwordRepeat" required>
                    <label>Repeat Password:</label>
                </div>

                <input type="submit" style="display: none" formnovalidate/>
            </form>
            <div class="section">
                <a class="submit-button a-button" (click)="update()">Update</a>
                All of your data is held in accordance with our <a class="" routerLink="/privacy-policy">Privacy Policy</a>
            </div>
        </div>
    </div>
</div>