<div class="page">
    <div class="card-center">
        <div class="content">
            <h1>Authentication</h1>
            <div class="line-horizontal"></div>
            <form class="section" (ngSubmit)="login()">
                
                <div class="label-animated">
                    <input type="text" placeholder="bob@example.com" class=""  [(ngModel)]="email" id="login-email" name="email" required>
                    <label>Email:</label>
                </div>

                <div class="label-animated">
                    <input type="password" placeholder="••••••••" class="" [(ngModel)]="password" id="login-password" name="password" required>
                    <label>Password:</label>
                </div>

                <input type="submit" style="display: none" formnovalidate/>
            </form>
            <div class="section">
                <a class="submit-button a-button" (click)="login()"><div [class.loader-text-active]="isLoading">Login</div><div [class.loader-active]="isLoading" class="loader"></div></a>
                <a class="" routerLink="/register" >Don't have an account? Register!</a>
            </div>
        </div>
    </div>
</div>