<div class="page">
    <div class="card-center">
        <div class="content">
            <h1>Registration</h1>

            <div class="line-horizontal"></div>

            <form class="section" (ngSubmit)="register()">
                <!-- <label for="email" class="col-form-label">Email:</label> -->
                <input type="text" placeholder="johnsmith@gmail.com" [(ngModel)]="email" name="email" id="register-email">

                <!-- <label for="text" class="col-form-label">First Name:</label> -->
                <input type="text" placeholder="John"  [(ngModel)]="firstName" name="firstName" id="register-firstName">

                <!-- <label for="text" class="col-form-label">Last Name:</label> -->
                <input type="text" placeholder="Smith"  [(ngModel)]="lastName" name="lastName" id="register-lastName">

                <!-- <label for="password" class="col-form-label">Password:</label> -->
                <input type="password" placeholder="Password"  [(ngModel)]="password" name="password" id="register-password">

                <!-- <label for="password" class="col-form-label">Repeat Password:</label> -->
                <input type="password" placeholder="Repeat Password"  [(ngModel)]="passwordRepeat" name="passwordRepeat" id="register-passwordRepeat">

                <input type="submit" style="display: none" />
            </form>
            <div class="section">
                <a class="submit-button a-button" (click)="register()">Register</a>
                <a class="" routerLink="/login">Already have an account? Login!</a>
            </div>
        </div>
    </div>
</div>