<div class="page">
    <div class="card-center">
        <div class="content">
            <h1>Registration</h1>

            <div class="line-horizontal"></div>

            <form class="section" (ngSubmit)="register()">

                <div class="label-animated">
                    <input type="text" placeholder="johnsmith@example.com" [(ngModel)]="email" name="email" id="email" required>
                    <label>Email:</label>
                </div>
                

                <div class="label-animated">
                    <input type="text" placeholder="John"  [(ngModel)]="firstName" name="firstName" id="firstName" required>
                    <label>First Name:</label>
                </div>

                <div class="label-animated">
                        <input type="text" placeholder="Smith"  [(ngModel)]="lastName" name="lastName" id="lastName" required>
                    <label>Last Name:</label>
                </div>

                <div class="label-animated">
                    <input type="password" placeholder="••••••••"  [(ngModel)]="password" name="password" id="password" required>
                    <label>Password:</label>
                </div>

                <div class="label-animated">
                        <input type="password" placeholder="••••••••"  [(ngModel)]="passwordRepeat" name="passwordRepeat" id="passwordRepeat" required>
                    <label>Repeat Password:</label>
                </div>

                <input type="submit" style="display: none" formnovalidate/>
            </form>
            <div class="section">
                <a class="submit-button a-button" (click)="register()">Register</a>
                <a class="" routerLink="/login">Already have an account? Login!</a>
            </div>
        </div>
    </div>
</div>