<div class="card text-center card-center">
    <div class="card-header">
        <h5>Register for Single Sign-On</h5>
    </div>
    <div class="card-body">
        <form>
            <div class="form-group">
                <label for="email" class="col-form-label">Email:</label>
                <input type="text" class="form-control" ng-model="registerData.email" id="register-email">
            </div>
            <div class="form-group">
                <label for="text" class="col-form-label">First Name:</label>
                <input type="text" class="form-control" ng-model="registerData.firstName" id="register-firstName">
            </div>
            <div class="form-group">
                <label for="text" class="col-form-label">Last Name:</label>
                <input type="text" class="form-control" ng-model="registerData.lastName" id="register-lastName">
            </div>
            <div class="form-group">
                <label for="password" class="col-form-label">Password:</label>
                <input type="password" class="form-control" ng-model="registerData.password" id="register-password">
            </div>
            <div class="form-group">
                <label for="password" class="col-form-label">Repeat Password:</label>
                <input type="password" class="form-control" ng-model="registerData.passwordRepeat" id="register-passwordRepeat">
            </div>
        </form>
        <button type="button" class="btn btn-primary" ng-click="Register()">Register</button>
    </div>
    <div class="card-footer text-muted">
    <button type="button" class="login-button btn btn-link modal-link-text" routerLink="/login">Already have an account? Login!</button><br />
    </div>
</div>